<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--            /task/<%=task._id%>/?_method=PUT   (this path is query string key)  -->
<!--                  this query string will override the method post by using middleware update when this form will get executes -->
    <form action="/task/<%=task._id%>/?_method=PUT" method="post" class="delete">
        <h1>Update Task</h1>
        <label for="task">Task</label>
        <input type="text" name="task" id="task" value="<%=task.task%>">
        <button type="submit">Upadte task</button>
    </form>
</body>
</html>